Details of one restaurant

<% @restaurants.each do |restaurant| %>
  <p> name ::: <%= restaurant.name %> </p>
  <p> address ::: <%= restaurant.address %> </p>
  <p> rating ::: <%= restaurant.rating %> </p>
<% end %>
